body {
    padding: 0;
    margin: 0;
    padding-top: 20px;
}    

.text {
    font-family:  Arial, Helvetica, sans-serif;
    color: #626262;
    padding-left: 40px;
    margin-top: -25px; 
}

.text h1 {
    font-weight: 300;
}

.main-container {
    margin-top: 100px;
    max-width: 1268px;
    margin: 0 auto;
}

.container {
    display: flex;
    justify-content:space-evenly;
    text-align: center;
    flex-wrap: wrap;
    padding-top: 70px;
}

.picture {
    vertical-align: middle;
    background-color: white;
    width: 78%;
    border-radius: 50%;
    height: auto;
    padding: 10px 10px 0px 10px;
    border: 5px solid #4f5a76;
    margin-left: -15px; 
}

.picture img {
    width: 100%;
    border-radius: inherit;
    filter: grayscale(100%);
}

.border {
    border-radius: 50%;
    border-left: 35px solid #4f5a76;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    margin-left: 10px;
    padding: 0px;
}

.person-dark .border {
    border-left-color: #8291a9;
}

.person-dark .picture  {
    border-color: #8291a9;
}

.person-grey .border {
    border-left-color: #7f7f7f;
}

.person-grey .picture {
    border-color: #7f7f7f;
}

.person-blue .border {
    border-left-color: #3a7a9c;
}

.person-blue .picture {
    border-color: #3a7a9c;
}


.name {
    color: #4f5a76;
    font-family:  Arial, Helvetica, sans-serif; 
    font-weight: 200; 
}

.person-name {
    margin-top: 0;
    margin-bottom: 5px;
}

.person-function {
    margin: 0;
    font-weight: normal;
    color: rgb(119, 117, 117);
}

.name-dark {
    color: #8291a9;
}

.name-grey {
    color:#7f7f7f;
}

.name-blue {
    color: #3a7a9c;
}

.description {
    font-size: 15px;
    color: rgb(119, 117, 117);
    text-align: center;
}

.description p {
    width: 165px;
    margin: 15px auto;
}

.devider {
    width: 100px;
    position: relative;
    margin: 0 auto;
}

.line {
    display: flex;
    text-align: center;
    width: 105px; 
}

.person {
    width: 250px;
}

.email {
    font-family:  Arial, Helvetica, sans-serif;
    color: #626262;
    padding-left: 30px;
    padding-top: 120px;
    position: relative; 
}

